@model TravelExpertsWeb.Models.Agencies

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Agencies</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgncyAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgncyAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgncyCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgncyCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgncyProv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgncyProv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgncyPostal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgncyPostal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgncyCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgncyCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgncyPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgncyPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgncyFax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgncyFax)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AgencyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
